@import "./animation.css";
@import '../data.css';
@import './bg.css';

/* Main Font */
@font-face {
    font-family: 'minecraft';
    src: url("../../fonts/minecraft.otf") format("truetype");
  }
@font-face {
    font-family: 'minecrafter';
    src: url("../../fonts/minecrafter.ttf") format("truetype");
}

/* Body */
body {
    margin: 0;
    font-family: 'minecraft', 'minecrafter';
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-overflow-style: none;
    scrollbar-width: none;
}
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}
body::-webkit-scrollbar {
  display: none;
}

/* NProgress */
#nprogress .bar {
  background: var(--color-pumpkin) !important;
}

/* Toastify */
.global-toast-container {
  top: 100px;
}
.global-toast {
  font-family: minecraft !important;
  border-radius: 0% !important;
}
.global-body-toast {
  font-family: minecraft !important;
}

/* Overide Bootstrap Class */
.btn {
    border-radius: 0px;
}
.btn-primary {
  color: #fff;
  background-color: var(--color-pumpkin);
  border-color: var(--color-pumpkin);
}
.btn-primary:hover {
  color: #fff;
  background-color: var(--color-pumpkin-hover);
  border-color: var(--color-pumpkin-hover);
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: var(--color-pumpkin-active);
  border-color: var(--color-pumpkin-active);
  box-shadow: 0 0 0 0.25rem var(--color-pumpkin-hover);
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--color-pumpkin-active);
  border-color: var(--color-pumpkin-active);
}
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem var(--color-pumpkin-hover);
}
.btn-primary:disabled, .btn-primary.disabled {
  color: #fff;
  background-color: var(--color-pumpkin-disabled);
  border-color: var(--color-pumpkin-disabled);
}
.form-control {
  border-radius: 0px !important;
}
.card {
  border-radius: 0px !important;
}
.text-primary {
  color: var(--color-pumpkin) !important;
}
a {
  text-decoration: none;
}
.bg-dark {
  background-color: #171615 !important;
}
.border-primary {
  border-color: var(--color-pumpkin) !important;
}
.text-bg-primary {
  background-color: var(--color-pumpkin) !important;
  border-radius: 0px !important;
}
.dropdown-menu {
  border-radius: 0px !important; 
}
/* Loader  */
.loader {
  display: none;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

/* Banner */
.banner-center {
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-color: #222;
}

/* Overide Vue Class */
.router-link-active .link-value {
  border-bottom: 3px solid var(--color-pumpkin);
}