.footer {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.20);

    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-image:
        linear-gradient(
            rgba(255, 255, 255, 1.0), 
            rgba(255,255,255,0.8)
        ), 
        url('/static/images/other/doodle-gamer.png');
}
.sosmed-btn {
    transition: all .2s ease-in-out;
    background-color: var(--color-pumpkin) !important;
}