
.discord-banner {
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-color: #222;
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.0),
            rgba(0, 0, 0, 0.5)
        ),
        url('/static/images/other/bg-discord.png');
}