.heroes {
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-color: #222;
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 1.0),
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 1.0)
        ),
        url('/static/images/other/bg-playing.gif');
}
.member-avatar {
    width: 64px;
    height: 64px;
    max-width: 64px;
    max-height: 64px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #222;
}
.member-banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #222;
}
.bg {
    background-color: #c4d1d9;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url('/static/images/other/bg-blue-island.png');
}
.money-banner {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #222;
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.9)
        ), url('/static/images/apps/members/money-bg.png');
}