.welcome-header {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.5)
        ), 
        url('/src/assets/images/apps/index/pumpkincraft-ss-1.png');
}